.bookmakerDetailsTitle {
    text-align: center;
    font-size: 2rem;
    margin: 32px 16px;
}

.bookmakerDetails {
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 16px;
    padding: 16px;
    box-sizing: border-box;
    overflow: hidden;
}