/*===============*/
/*Vertical Card*/
/*===============*/

.verticalCard {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 600px;
    box-sizing: border-box;
    overflow: hidden;
}

.verticalCardImageContainer {
    display: flex;
    margin: 8px;
    object-fit: cover;
    box-sizing: border-box;
    overflow: hidden;
}

.verticalCardImage {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.verticalCardTitle {
    color: #0a0a0a;
    font-style: normal;
    font-weight: 550;
    font-size: 16px;
    line-height: 1.4;
    margin: 8px 16px 16px 16px;
}

.verticalCardText {
    color: #69707F;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.4;
    padding: 0 16px 0 16px;
}

/*===============*/
/*Horizontal Card*/
/*===============*/

.horizontalCard {
    max-width: 932px;
    height: 350px;
    display: flex;
    flex-direction: row;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 16px;
    box-sizing: border-box;
    overflow: hidden;
}

.horizontalCardImageContainer {
    flex: 1;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
}

.horizontalCardImage {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.horizontalCardTextContainer {
    flex: 1;
    margin-top: 10px;
    padding-right: 24px;
    box-sizing: border-box;
    overflow: hidden;
}

.horizontalCardTitle {
    color: #0a0a0a;
    font-style: normal;
    font-weight: 550;
    font-size: 18px;
    line-height: 1.5;
}

.horizontalCardText {
    color: #69707F;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}