.mainPlaceholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.placeholder {
  background-color: #e0e0e0;
  border: 2px dashed #999;
  padding: 40px;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  color: #555;
}
